*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-size: 1.7rem;
}

.title {
  margin: 5rem auto;
  text-align: center;
}

table {
  text-align: center;
  margin: 5rem auto;
}

#add-row,
#calc {
  margin: 1rem auto;
  text-align: center;
  display: block;
}

tr:hover > td > .remove-row {
  visibility: visible;
}

.remove-row {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  background-color: rgb(236, 53, 53);
  color: white;

  visibility: hidden;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s;
  }

  &:active {
    transform: scale(0.9, 0.9);
    transition: all 0.1s;
  }
}
